In [1]:
list1 = [ 'abcd', 786 , 2.23, 'Çorlu', 70.2 ]
list2 = [123, 'Merhaba']

In [2]:
print(list1)

['abcd', 786, 2.23, 'Çorlu', 70.2]

In [6]:
print(list1[1])

786

In [7]:
print(list1)
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

['abcd', 786, 2.23, 'Çorlu', 70.2]
abcd
786
2.23
Çorlu
70.2

In [8]:
print(id(list1))
print(id(list1[0]))
print(id(list1[1]))
print(id(list1[2]))
print(id(list1[3]))
print(id(list1[4]))

2516124260488
2516124045640
2516123538768
2516112853536
2516123679360
2516112853632

In [10]:
print(list1[1])
list1[1]='Merhaba'
print(list1[1])

786
Merhaba

In [16]:
t = ('abcd', 786, 2.23, 0, 70.2)

In [12]:
print(t[1])

786

In [13]:
t[1] = 33454564567

TypeError: 'tuple' object does not support item assignment